.navegador{
  background-color:#cc5819;
}

.boton{
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#899a45;
}

.space-between {
  justify-content: space-between;
}


.container {
  display: flex;
}
.pad{
  padding: 20px;
}
.botonx{
  width: 20px;
}
.imgpanda1{
 visibility: hidden;
}

.primero{
		display:none;
		padding:5px;
		border:1px solid #ccc;
		background-color:#f1f1f1;
		position:relative;
		width:200px;
